@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:regular,700&display=swap);
@font-face {
  font-family: "Gilroy-Bold";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"),
    url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Medium";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"),
    url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-SemiBold";
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"),
    url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Regular";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"),
    url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.pts,
.info-investor__number,
.imageblock__title span,
.title {
  font-family: "PT Serif";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/
body {
  background-color: #f2f2f2;
  color: #646667;
}
body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
@media (min-width: 767.98px) {
  .back-to-top {
    background: #007397;
    position: fixed;
    bottom: -64px;
    padding: 10px 12px;
    right: 54px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    width: 54px;
    height: 54px;
    z-index: 999;
  }
  .back-to-top:hover {
    transform: scale(1.2);
  }
  .back-to-top::before,
  .back-to-top::after {
    content: "";
    position: absolute;
    width: 17px;
    height: 5px;
    background-color: #fff;
    background-position: center center;
    top: 24px;
  }
  .back-to-top::before {
    content: "";
    transform: rotate(-45deg);
    left: 14px;
  }
  .back-to-top::after {
    content: "";
    transform: rotate(45deg);
    left: 22.5px;
  }

  .back-to-top.active {
    bottom: 50px;
    transition: all 0.3s ease 0s;
  }
}
._container {
  max-width: 1170px;
  margin: 0 auto;
}
@media (max-width: 1182px) {
  ._container {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

.button {
  display: inline-flex;
  padding: 0px 0px;
}
.button._fw {
  width: 100%;
}

.select {
  position: relative;
}
.select__item {
  position: relative;
}
.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}
@media (max-width: 991.98px) {
  .select__title {
    font-size: 18px;
  }
}
.select__value {
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.select__value:before {
  content: "";
  display: inline-block;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}
.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}
.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}
@media (max-width: 991.98px) {
  .select__options {
    font-size: 18px;
  }
}
.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}
@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }
}
.select._active {
  z-index: 5;
}
.select._active .select__value:before {
  transform: rotate(-180deg);
}
.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}
textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}
.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}
.checkbox__text {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
  cursor: pointer;
}
.checkbox__text:before {
  content: "";
  align-self: flex-start;
  margin: 0px 14px 0px 0px;
  flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}
.checkbox a {
  color: #fff;
  text-decoration: underline;
}
@media (min-width: 992px) {
  .checkbox a:hover {
    text-decoration: none;
  }
}
.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.options__item {
  position: relative;
  cursor: pointer;
}
.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}
.options__input:checked + .options__text:after {
  transform: scale(1);
}
.options__text {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
}
.options__text:before {
  content: "";
  align-self: flex-start;
  margin: 0px 14px 0px 0px;
  flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}
.options__text:after {
  content: "";
  transition: all 0.3s ease 0s;
  transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: flex;
  align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}
.quantity__button {
  flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}
.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}
@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.quantity__button_plus::before {
  transform: rotate(-90deg);
}
.quantity__input {
  flex: 1 1 auto;
}
.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #3c3f3d;
}
@media (max-width: 479.98px) {
  .title {
    font-size: 24px;
    line-height: 158.3333333333%;
  }
}

.text {
  font-weight: 300;
  font-size: 20px;
  line-height: 180%;
  color: inherit;
}

.btn {
  display: block;
  height: 56px;
  background-color: #007397;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 20px 30px;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}
ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}
ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}
.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 411px;
}
._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}
._more-link span {
  font-style: normal;
}
._more-link span:first-child {
  display: block;
}
._more-link span:last-child {
  display: none;
}
._more-link._active span {
  font-style: normal;
}
._more-link._active span:first-child {
  display: none;
}
._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}
._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}
._swiper.swiper-container-vertical .swiper-wrapper {
  flex-direction: column;
}
._swiper.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}
._tabs-block._active {
  display: block;
}

.mirror {
  transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}
._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.header {
  position: relative;
  z-index: 50;
}
.header__container {
  height: 102px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991.98px) {
  .header__container {
    height: 72px;
  }
}
@media (max-width: 767.98px) {
  .header__container {
    height: 54px;
  }
}
.header__logo {
  font-weight: 700;
  font-size: 32px;
  color: #007397;
  text-transform: uppercase;
  padding: 5px 10px;
  transition: all 0.5s ease 0s;
}
@media (any-hover: hover) {
  .header__logo:hover {
    color: #fff;
    background-color: #007397;
  }
}
@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -110%;
    background-color: rgba(255, 255, 255, 0.9);
    transition: all 0.3s ease 0s;
    overflow: auto;
    padding: 70px 40px 50px 40px;
  }
  .menu__body._active {
    left: 0%;
  }
}
.menu__list {
  display: flex;
}
@media (max-width: 767.98px) {
  .menu__list {
    display: block;
  }
}
.menu__item {
  margin: 0px 0px 0px 36px;
}
@media (max-width: 1182px) {
  .menu__item {
    margin: 0px 0px 0px 26px;
  }
}
@media (max-width: 991.98px) {
  .menu__item {
    margin: 0px 0px 0px 11px;
  }
}
@media (max-width: 767.98px) {
  .menu__item {
    margin: 0px 0px 10px 0px;
  }
}
.menu__link {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 233.3333333333%;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: inherit;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu__link span {
    position: relative;
    display: block;
  }
  .menu__link span::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    left: 50%;
    bottom: 0;
    background-color: #007397;
    transition: all 0.3s ease 0s;
  }
  .menu__link:hover {
    color: #007397;
  }
  .menu__link:hover span::after {
    content: "";
    width: 100%;
    left: 0;
  }
}
.menu__link_earth {
  background: url("../img/header/earth.svg") right no-repeat;
  background-size: 26px;
  padding: 0px 38px 0px 0px;
}
@media (max-width: 991.98px) {
  .menu__link {
    font-size: 11px;
    line-height: 200%;
  }
  .menu__link_earth {
    background-size: 20px;
    padding: 0px 28px 0px 0px;
  }
}
@media (max-width: 991.98px) and (max-width: 767.98px) {
  .menu__link_earth {
    background-position: left;
    padding: 0px 0px 0px 28px;
  }
}
@media (max-width: 767.98px) {
  .menu__link {
    font-size: 16px;
    line-height: 200%;
    text-align: left;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu._active span {
    transform: scale(0);
  }
  .icon-menu._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.footer__container {
  height: 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767.98px) {
  .footer__container {
    height: 80px;
  }
}
@media (max-width: 479.98px) {
  .footer__container {
    flex-direction: column;
    justify-content: center;
  }
}
.footer__column {
  font-weight: 700;
  font-size: 12px;
  line-height: 333.3333333333%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: inherit;
}
@media (max-width: 479.98px) {
  .footer__column {
    font-size: 11px;
    line-height: 218.1818181818%;
  }
  .footer__column:not(:last-child) {
    margin: 0px 0px 5px 0px;
  }
}
.footer__text {
  display: flex;
}
.footer__text a {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 333.3333333333%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: inherit;
}
.footer__text a:not(:first-child) {
  margin: 0px 0px 0px 25px;
}
@media (any-hover: hover) {
  .footer__text a:hover {
    text-decoration: underline;
  }
}
@media (max-width: 479.98px) {
  .footer__text a {
    font-size: 11px;
    line-height: 218.1818181818%;
  }
}

.page {
  flex: 1 1 auto;
}

.page__mainblock {
  margin: 0px 0px 100px 0px;
}
@media (max-width: 1182px) {
  .page__mainblock {
    margin: 0px 0px 80px 0px;
  }
}
@media (max-width: 767.98px) {
  .page__mainblock {
    margin: 0px 0px 60px 0px;
  }
}
.page__investors {
  margin: 0px 0px 100px 0px;
}
@media (max-width: 1182px) {
  .page__investors {
    margin: 0px 0px 80px 0px;
  }
}
@media (max-width: 767.98px) {
  .page__investors {
    margin: 0px 0px 60px 0px;
  }
}
.page__news-media {
  margin: 0px 0px 70px 0px;
}
@media (max-width: 1182px) {
  .page__news-media {
    margin: 0px 0px 50px 0px;
  }
}
@media (max-width: 767.98px) {
  .page__news-media {
    margin: 0px 0px 30px 0px;
  }
}
.mainblock__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imageblock {
  position: relative;
  width: 100%;
  margin: 0px 0px 48px 0px;
}
.imageblock__title {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.imageblock__title span {
  position: absolute;
  display: block;
  max-width: 670px;
  bottom: 80px;
  right: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.6);
}
@media (max-width: 1182px) {
  .imageblock__title span {
    max-width: 630px;
  }
}
@media (max-width: 991.98px) {
  .imageblock__title span {
    bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .imageblock__title span {
    font-size: 24px;
    line-height: 158.3333333333%;
    text-align: center;
    max-width: none;
    padding: 0px 30px;
  }
}
@media (max-width: 479.98px) {
  .imageblock__title span {
    font-size: 16px;
    line-height: 175%;
  }
}
@media (max-width: 991.98px) {
  .imageblock__videoblock {
    height: 300px;
  }
}
@media (max-width: 767.98px) {
  .imageblock__videoblock {
    height: auto;
    min-height: 250px;
  }
}
@media (max-width: 991.98px) {
  .imageblock {
    margin: 0px 0px 28px 0px;
  }
}

.bottomblock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottomblock__text {
  max-width: 970px;
  text-align: center;
  margin: 0px 0px 46px 0px;
}
@media (max-width: 991.98px) {
  .bottomblock__text {
    font-size: 18px;
    line-height: 155.5555555556%;
    margin: 0px 0px 36px 0px;
  }
}
@media (max-width: 767.98px) {
  .bottomblock__text {
    font-size: 16px;
    line-height: 175%;
  }
}
.bottomblock__btn {
  width: 270px;
  position: relative;
}
.bottomblock__btn span {
  position: relative;
  z-index: 2;
}
@media (any-hover: hover) {
  .bottomblock__btn::after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    left: 50%;
    top: 0;
    transition: all 0.3s ease 0s;
  }
  .bottomblock__btn:hover::after {
    content: "";
    width: 100%;
    left: 0;
    background-color: rgba(0, 61, 80, 0.9);
  }
}
@media (max-width: 479.98px) {
  .bottomblock__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 171.4285714286%;
  }
}

.investors__container {
  display: flex;
  flex-direction: column;
}
@media (max-width: 479.98px) {
  .investors__container {
    justify-content: center;
    align-items: center;
  }
}
.investors__title {
  margin: 0px 0px 40px 0px;
  align-items: start;
}
@media (max-width: 479.98px) {
  .investors__title {
    margin: 0px 0px 20px 0px;
  }
}
.investors__text {
  max-width: 670px;
  margin: 0px 0px 48px 0px;
  align-items: start;
}
@media (max-width: 479.98px) {
  .investors__text {
    font-size: 16px;
    line-height: 175%;
    text-align: center;
    margin: 0px 0px 24px 0px;
  }
}
.investors__btn {
  width: 270px;
  position: relative;
  cursor: pointer;
}
.investors__btn span {
  position: relative;
  z-index: 2;
}
@media (any-hover: hover) {
  .investors__btn::after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    left: 50%;
    top: 0;
    transition: all 0.3s ease 0s;
  }
  .investors__btn:hover::after {
    content: "";
    width: 100%;
    left: 0;
    background-color: rgba(0, 61, 80, 0.9);
  }
}

.info-investor {
  display: flex;
  justify-content: space-between;
  margin: 0px -5px 23px -5px;
}
.info-investor__column {
  flex: 0 1 auto;
  padding: 0px 5px;
  margin: 0px 0px 25px 0px;
}
@media (max-width: 767.98px) {
  .info-investor__column {
    flex: 0 1 33.333%;
  }
}
@media (max-width: 479.98px) {
  .info-investor__column {
    flex: 0 1 50%;
  }
}
.info-investor__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.info-investor__number {
  font-size: 54px;
  line-height: 100%;
  text-transform: uppercase;
  color: #007397;
}
@media (max-width: 991.98px) {
  .info-investor__number {
    margin: 0px 0px 5px 0px;
    font-size: 44px;
  }
}
.info-investor__text {
  font-size: 16px;
  line-height: 200%;
  color: #aec3d4;
}
@media (max-width: 991.98px) {
  .info-investor__text {
    font-size: 14px;
  }
}
@media (max-width: 767.98px) {
  .info-investor {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.news-media__header {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 48px 0px;
}
@media (max-width: 767.98px) {
  .news-media__header {
    display: block;
    margin: 0px 0px 30px 0px;
  }
}
@media (max-width: 767.98px) {
  .news-media__title {
    margin: 0px 0px 20px 0px;
  }
}
.news-media__body {
  display: flex;
}
.nav-newsmedia {
  display: flex;
  align-items: center;
}
.nav-newsmedia__item {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #d3cfce;
  cursor: pointer;
  padding: 10px 15px;
  transition: all 0.3s ease 0s;
}
.nav-newsmedia__item:not(:first-child) {
  margin: 0px 0px 0px 60px;
}
.nav-newsmedia__item._active {
  color: #007397;
}
@media (any-hover: hover) {
  .nav-newsmedia__item:hover {
    background-color: #d3cfce;
    color: #007397;
    border-radius: 5px;
  }
}
@media (max-width: 767.98px) {
  .nav-newsmedia__item {
    padding: 0px;
  }
  .nav-newsmedia__item:not(:first-child) {
    margin: 0px 0px 0px 10px;
  }
}
@media (max-width: 767.98px) {
  .nav-newsmedia {
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.item-newsmedia {
  display: flex;
  margin: 0px -15px;
}
@media (max-width: 1182px) {
  .item-newsmedia {
    margin: 0px -10px;
  }
}
@media (max-width: 991.98px) {
  .item-newsmedia {
    flex-wrap: wrap;
  }
}
.item-newsmedia__column {
  flex: 0 1 33.333%;
  padding: 0px 15px;
  margin: 0px 0px 30px 0px;
}
@media (max-width: 1182px) {
  .item-newsmedia__column {
    padding: 0px 10px;
  }
}
@media (max-width: 991.98px) {
  .item-newsmedia__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 767.98px) {
  .item-newsmedia__column {
    flex: 1 1 100%;
  }
}
.item-newsmedia__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (max-width: 767.98px) {
  .item-newsmedia__content {
    max-width: 600px;
    margin: 0px auto;
  }
}
.item-newsmedia__header {
  height: 370px;
}
@media (max-width: 1182px) {
  .item-newsmedia__header {
    height: 340px;
  }
}
@media (max-width: 479.98px) {
  .item-newsmedia__header {
    height: 300px;
  }
}
.item-newsmedia__text {
  font-size: 16px;
  line-height: 200%;
  padding: 30px 0px;
  flex: 1 1 auto;
}
.item-newsmedia__more {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #007397;
}
@media (any-hover: hover) {
  .item-newsmedia__more:hover {
    text-decoration: underline;
  }
}

.header-newsmedia {
  position: relative;
}
.header-newsmedia__press {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 25px 30px;
}
.header-newsmedia__press a {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
@media (any-hover: hover) {
  .header-newsmedia__press a:hover {
    text-decoration: underline;
  }
}
.header-newsmedia__category {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.75px;
}
.header-newsmedia__title {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1px;
  position: absolute;
  max-width: 310px;
  top: 229px;
  left: 30px;
}
@media (max-width: 1182px) {
  .header-newsmedia__title {
    font-size: 20px;
    line-height: 28px;
    max-width: 250px;
  }
}
@media (max-width: 767.98px) {
  .header-newsmedia__title {
    top: 219px;
  }
}
@media (max-width: 479.98px) {
  .header-newsmedia__title {
    top: 190px;
  }
}
.header-newsmedia__image {
  height: 100%;
  position: relative;
}
.header-newsmedia__image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.country__title {
  margin: 0px 0px 48px 0px;
}
@media (max-width: 767.98px) {
  .country__title {
    margin: 0px 0px 24px 0px;
  }
}
.country__map {
  height: 448px;
}
@media (max-width: 767.98px) {
  .country__map {
    height: 348px;
  }
}
@media (max-width: 479.98px) {
  .country__map {
    height: 248px;
  }
}
